#text{
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
 //Futura, "Trebuchet MS", Arial, sans-serif;
}

#intext{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#intext2{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#intext3{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#intext4{
    font-family: "Comic Sans MS", cursive, sans-serif; 
}

#intext5{
    font-family: "Comic Sans MS", cursive, sans-serif;
}