#text{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#intext{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#intext2{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#intext3{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#intext4{
    font-family: "Comic Sans MS", cursive, sans-serif; 
}

#intext5{
    font-family: "Comic Sans MS", cursive, sans-serif;
}